
@{
    ViewData["Title"] = "DHS";
}

<h1 class="text-center">
    DESARROLLO DE HABILIDADES DE SUPERVISION
</h1>
<hr />
<div class="jumbotron">
    <h1 class="display-3">OBJETIVO</h1>
    <hr class="my-2" />
    <p class="lead">
        Conocer y desarrollar habilidades personales que permitan establecer y mantener relaciones interpersonales y laborales más efectivas y constructivas para incrementar la eficiencia en el trabajo,  liderazgo, manejo y solución de conflictos.
    </p>
</div>
<hr />
<h4>Duracion: 6hrs</h4>
<hr />
<h2 style="color: cadetblue">Dirigido a:</h2>
<hr />
<p>
    Supervisores, jefes de área o departamento, superintendentes y personal en entrenamiento para ocupar
    posiciones de supervisión.
</p>
<hr />
<h4 style="color: cadetblue">Contenido Tematico</h4>
<hr />
<p>
    1. Funciones del supervisor
    <br />
    2. Habilidades del supervisor
    <br />
    3. El supervisor como líder
    <br />
    4. Comunicación asertiva
    <br />
    5. Trabajo en equipo
    <br />
    6. Delegación de actividades
    <br />
    7. Reconocer y motivar oportunamente
    <br />
    8. Sanciones disciplinarias
    <br />
    9. Cómo manejar y solucionar conflictos
</p>