
@{
    ViewData["Title"] = "HGAE";
}
<h1 class="text-center">
    LOS 7 HÁBITOS DE LA GENTE ALTAMENTE EFECTIVA
</h1>
<hr />
<div class="jumbotron">
    <h1 class="display-3">OBJETIVO</h1>
    <hr class="my-2" />
    <p class="lead">
        El participante reconocerá la importancia de la superación personal para el logro de los objetivos personales y de la organización, aumentará la productividad y la capacidad de gestionarse así mismo, desarollará la habilidad de establecer relaciones de confianza mutua y aumentar la implicación para trabajar de forma eficaz en equipo, Incrementará la aptitud de generar soluciones novedosas que aporten valor, adoptará conductas globales de efectividad personal e interpersonal, Integrará los fundamentos de liderazgo de acuerdo al modelo de Stephen R. Covey.
    </p>
</div>
<hr />
<h4>Duracion: 6hrs</h4>
<hr />
<h2 style="color: cadetblue">Dirigido a:</h2>
<hr />
<p>
    Gerentes, ejecutivos, supervisores, funcionarios y público en general interesado en desarrollar los 7 hábitos de la gente altamente efectiva.
</p>
<hr />
<h4 style="color: cadetblue">Contenido Tematico</h4>
<hr />
<p>
    1. Introducción a los 7 hábitos
    <br />
    2. Hábito 1: el hábito de la elección
    <br />
    3. Hábito 2: el hábito de la visión
    <br />
    4. Hábito 3: el hábito de la integridad y de la ejecución
    <br />
    5. Hábito 4: el hábito del beneficio mutuo
    <br />
    6. Hábito 5: el hábito del entendimiento mutuo
    <br />
    7. Hábito 6: el hábito de la cooperación creativa
    <br />
    8. Hábito 7: el hábito de la renovación
    <br />
    9. ConclusioneS
</p>