
@{
    ViewData["Title"] = "FI";
}
<h1 class="text-center">
    FORMACION DE INSTRUCTORES
</h1>
<hr />
<div class="jumbotron">
    <h1 class="display-3">OBJETIVO</h1>
    <hr class="my-2" />
    <p class="lead">
        Objetivo: Aprender a ejercer el liderazgo en la formación de instructores, buscando el flujo de valor de la empresa con enfoque a la toma de decisiones de forma proactiva que facilite el desempeño y la productividad en su equipo.
    </p>
</div>
<hr />
<h4>Duracion: 12hrs</h4>
<hr />
<h2 style="color: cadetblue">Dirigido a:</h2>
<hr />
<p>
    : Personal de la empresa que deseen aprender a analizar los factores de supervisión que más influyan en su área de trabajo, así como su aplicabilidad para obtener mejores resultados en el desarrollo de la supervisión y guía de personal a su cargo y hacia sus superiores, eficientando los procesos productivos de la empresa.
</p>
<hr />
<h4 style="color: cadetblue">Contenido Tematico</h4>
<hr />
<p>
    1. Clínica de Instrucción
    <br />
    1.1 Instrumentación Didáctica de un plan Sesión
    <br />
    1.2 Retroalimentación
    <br />
    1.3 Diseño de Cursos de Capacitación
    <br />
    1.4 Comunidad de aprendizaje
    <br />
    1.5 Contenido Temático y Objetivos
    <br />
    1.6 Técnicas de Instrucción, Técnicas grupales y Actividades de aprendizaje
    <br />
    1.7 Conducción de cursos de capacitación
    <br />
    1.8 Habilidades del Orador
    <br />
    2. Clínica de Liderazgo
    <br />
    2.1 Importancia que tiene el apego a las normas de Calidad
    <br />
    2.2 El supervisor y los fundamentos
    <br />
    2.3 Liderazgo y las buenas prácticas
    <br />
    3. Evaluación del curso
</p>