
@{
    ViewData["Title"] = "Cursos";
}

    <h1 class="text-center">
        Análisis de Problemas Buscando Causa Raíz, Metodologías para Solución de Problemas y Toma de Decisiones.
    </h1>
<hr />
<div class="jumbotron">
    <h1 class="display-3">OBJETIVO</h1>
    <hr class="my-2" />
    <p class="lead">
        Resolver asuntos relevantes en las empresas y solucionar problemas encontrando la causa que lo origina, en forma efectiva, simplificando complejidades, aplicando conceptos, metodologías y herramientas; así como llevar adelante un proyecto involucrando el enfrentarse a situaciones no deseadas (problemas), catalogando las mismas en los campos más significativos dentro de cualquier organización.
        <br />
        El curso está dividido en tres partes, la búsqueda de problemas y causa raíz, la Resolución de Problemas utilizando metodologías afines a ella y la parte final es la Toma de Decisiones, con el objetivo de mejorar su ejecutividad, teniendo en cuenta las Competencias de Desempeño.
    </p>
</div>
<hr />
<h4>Duracion: 12hrs</h4>
<hr />
<h2 style="color: cadetblue">Dirigido a:</h2>
<hr />
<p>
    
</p>
<hr />
<h4 style="color: cadetblue">Contenido Tematico</h4>
<hr />
<p>
    Parte 1 Problema y causa raíz (Definición de problema y su proceso para enfrentar y resolverlos, Análisis de causales, Análisis de causa raíz).
    <br />
    Parte 2 Procedimientos, Metodologías, Herramientas y Técnicas.
    <br />
    2.1 Herramientas de generación de Ideas.
    <br />
    2.2 Herramientas Búsqueda de causa raíz.
    <br />
    2.3 Metodologías y Técnicas.
    <br />
    2.4 7 Procedimientos y diagramas de flujo.
    <br />
    Parte 3 Toma de decisiones.
</p>