
@{
    ViewData["Title"] = "CIOFCSH";
}

<h1 class="text-center">NOM-019, Constitucìon, Integracion, organizaciñon y funcionamiento de las comisiones de seguridad e higiene</h1>

<div class="jumbotron">
    <h1 class="display-3">OBJETIVO</h1>
    <hr class="my-2" />
    <p class="lead">
        Revisar las funciones y actividades que deberán realizar comisiones de seguridad e higiene, así como los requerimientos para su constitución, integración, organización y funcionamiento, a efecto de que contribuyan de forma eficaz en la prevención de riesgos de trabajo y la investigación de accidentes.
    </p>
</div>
<hr />
<h4>Duracion: 5hrs</h4>
<hr />
<h4 style="color: cadetblue">Contenido Tematico</h4>
<hr />
<p>
    1. Introducción (Objetivo, Campo de aplicación, Referencias, Definiciones).
    <br />
    2. Obligaciones del patrón.
    <br />
    3. Obligaciones de los trabajadores.
    <br />
    4. Constitución e integración de las comisiones.
    <br />
    5. Organización de las comisiones.
    <br />
    6. Funcionamiento de las comisiones.
    <br />
    7. Capacitación de las comisiones.
    <br />
    8. Unidades de verificación.
    <br />
    9. Procedimiento para la evaluación de la conformidad.
    <br />
    10. Vigilancia.
</p>