
@{
    ViewData["Title"] = "Cursos";
}

<h1 class="text-center">
    Ergonomía Avanzada
</h1>
<hr />
<div class="jumbotron">
    <h1 class="display-3">OBJETIVO</h1>
    <hr class="my-2" />
    <p class="lead">
        •	Conocer en profundidad diferentes metodologías de evaluación de riesgos ergonómicos.
        <br />
        •	Conocer el funcionamiento adecuado de Herramientas manuales y de potencia en aspectos de riesgos ergonómicos, para mejorar la eficiencia en la gestión de los mismos.
        <br />
        •	Facilitar el aprendizaje de forma práctica de metodologías de evaluación de riesgos
    </p>
</div>
<hr />
<h4>Duracion: 10hrs</h4>
<hr />
<h2 style="color: cadetblue">Dirigido a:</h2>
<p>
    Directores y Técnicos en Prevención,  Mandos intermedios, Trabajadores designados.
</p>
<hr />
<h4 style="color: cadetblue">Contenido Tematico</h4>
<hr />
<p>
    Parte I
    <br />
    1. Introducción a la Ergonomía (Consideraciones antropométricas, Riesgos y medidas preventivas generales, en herramientas manuales y de potencia).
    <br />
    2. Ergonomía aplicada a la evaluación de puestos de trabajo.
    <br />
    3. Principales Metodologías y comparativo de evaluación ergonómica de puestos de trabajo (Evaluación OCRA, Método JSI, Método RULA, Método REBA, Método OWAS, Método EPR, Método NIOSH, Método GINSHT, Tablas SNOOK y CIRIELLO, Estudios de Biomecánica, Analisis Térmico y Método LEST)
    <br />
    4. Normas ISO (Levantamiento y transporte, Empuje y Tracción y Manipulación de pequeñas cargas a elevada frecuencia).
    <br />
    5. Parte II Práctica
</p>