
@{
    ViewData["Title"] = "Cursos";
}

<h1 class="text-center">
    ISO 9001:2015
</h1>
<hr />
<div class="jumbotron">
    <h1 class="display-3">OBJETIVO</h1>
    <hr class="my-2" />
    <p class="lead">
        •	Entender los procesos importantes de un Sistema de Gestión de la Calidad en la Norma de Calidad ISO 9001: 2015.
        <br />
        •	Definir el Sistema de Auditoría Interna del SGC y formar auditores Internos basados en la Norma ISO 19011: 2011 e ISO 9001:2015.
        <br />
        •	Crear conciencia y sensibilización, a través de la construcción de elementos de un sistema de gestión de la calidad basado en la norma ISO 9001:2015 en los empleados de la empresa MULOX de México, que necesitan saber y aplicar en su trabajo para lograr los objetivos de la organización.
    </p>
</div>
<hr />
<h4>Duracion: 20hrs</h4>
<hr />
<h2 style="color: cadetblue">Dirigido a:</h2>
<hr />
<p>
    
</p>
<hr />
<h4 style="color: cadetblue">Contenido Tematico</h4>
<hr />
<p>
    0. Curso Sensibilización: Aspectos relevantes de la Norma ISO 9001:2015
    <br />
    1. Introducción
    <br />
    2. Familia de Normas ISO 9000
    <br />
    3. Principios de Gestión de la Calidad
    <br />
    4. Sistemas de Calidad
    <br />
    5. Análisis e interpretación de la Norma ISO 9001: 2015
    <br />
    5.1 Contexto de la Organización
    <br />
    5.2 Liderazgo
    <br />
    5.3 Planificación
    <br />
    5.4 Apoyo
    <br />
    5.5 Operación
    <br />
    5.6 Evaluación del desempeño
    <br />
    5.7 Mejora
    <br />
    5.8 Revisión de Anexos A y B
    <br />
    6. Ejercicios y práctica para elaboración de procesos, procedimientos, mapeo e instrucciones de trabajo.
    <br />
    7. Correlación e interacción de documentos.
</p>