
@{
    ViewData["Title"] = "Cursos";
}

<h1 class="text-center">
    Lean Manufacturing
</h1>
<hr />
<div class="jumbotron">
    <h1 class="display-3">OBJETIVO</h1>
    <hr class="my-2" />
    <p class="lead">
        Conocer y entender los principios básicos utilizados en los Sistemas de Manufactura Esbelta (Lean Manufacturing), así como sus beneficios en la reducción desperdicios y optimización de procesos a lo largo de toda la cadena de valor.
    </p>
</div>
<hr />
<h4>Duracion: 12hrs</h4>
<hr />
<h2 style="color: cadetblue">Dirigido a:</h2>
<hr />
<p>
    Jefes y coordinadores de área, representantes de la dirección y gerentes de área, personal encargado de la implantación de proyectos de Manufactura Esbelta (Lean Manufacturing), personal de producción, calidad, RH y operaciones.
</p>
<hr />
<h4 style="color: cadetblue">Contenido Tematico</h4>
<hr />
<p>
    1. Introducción
    <br />
    - Evolución histórica de los sistemas de producción
    <br />
    - El Sistema de Producción Toyota (TPS)
    <br />
    - ¿Por qué es necesario cambiar los sistemas de producción?
    <br />
    - ¿Qué es la Manufactura Esbelta?
    <br />
    2. Análisis del estado actual
    <br />
    - Los 7 tipos de desperdicio
    <br />
    - Análisis del proceso: producto – cantidad - tiempo
    <br />
    - Mapeo de la cadena de valor (VSM)
    <br />
    - Trabajo con valor agregado (VA)
    <br />
    - Trabajo con valor no agregado (NVA)
    <br />
    3. Diseñando el estado futuro
    <br />
    - Sistema Kanban y Justo a Tiempo (JIT)
    <br />
    - Manufactura en tiempo “TAKT”
    <br />
    - Implementación de flujo continuo
    <br />
    - Nivelación de carga y mezcla de productos
    <br />
    - Identificando proyectos de mejora (Kaizen)
    <br />
    4. Técnicas para la Manufactura Esbelta (Fundamentos)
    <br />
    - Metodología de las 5 S’s
    <br />
    - Trabajo estandarizado
    <br />
    - Administración visual
    <br />
    - Celdas de manufactura
    <br />
    - Sistemas a prueba de error (Poka-Yoke)
    <br />
    - Mantenimiento productivo total (TPM)
    <br />
    - Preparación rápida de maquinaria (SMED)
    <br />
    5. Conclusiones
</p>