
@{
    ViewData["Title"] = "Cursos";
}

<h1 class="text-center">
    Norma ISO TS 16949 Automotriz
</h1>
<hr />
<div class="jumbotron">
    <h1 class="display-3">OBJETIVO</h1>
    <hr class="my-2" />
    <p class="lead">
        Proporcionar a los participantes los conocimientos del enfoque de procesos establecido para los proveedores del sector automotriz para poder documentar, implementar y mantener los sistemas de gestión de calidad ISO/TS 16949:2009, mediante prácticas y reflexiones sobre la satisfacción del cliente, la importancia del trabajo en equipo, los procesos de soporte y en los procesos gerenciales para medir el desempeño, eficacia y eficiencia de una organización.
    </p>
</div>
<hr />
<h4>Duracion: 12hrs</h4>
<hr />
<h2 style="color: cadetblue">Dirigido a:</h2>
<hr />
<p>
    Gerentes, supervisores, auditores, calidad, procesos, producto, producción, almacén, RH y personal en general interesada en aprender sobre las directrices de ISO/TS16949.
</p>
<hr />
<h4 style="color: cadetblue">Contenido Tematico</h4>
<hr />
<p>
    1. Introducción a ISO/TS 16949:2009
    <br />
    2. Generalidades de los Sistemas de Gestión
    <br />
    3. Aportación de ISO 9001:2008 a ISO/TS 16949:2009
    <br />
    4. Términos y definiciones
    <br />
    5. Principios de la Gestión de Calidad
    <br />
    6. Interpretación de los Requisitos de ISO/TS 16949:2009
    <br />
    7. Sistema de gestión de la calidad
    <br />
    8. Responsabilidad de la dirección
    <br />
    9. Gestión de los recursos
    <br />
    10. Realización del producto
    <br />
    11. Medición, análisis y mejora
    <br />
    12. Especificaciones para la certificación
    <br />
    13. Conclusiones
</p>