
@{
    ViewData["Title"] = "Cursos";
}

    <h1 class="text-center">
        Norma ISO 19011:2011 Auditoria  de los Sistemas de Gestión
    </h1>
<hr />
<div class="jumbotron">
    <h1 class="display-3">OBJETIVO</h1>
    <hr class="my-2" />
    <p class="lead">
        Comprender y aplicar las directrices actuales de la norma ISO 19011:2011 para la realización de auditorías de los Sistemas de Gestión, para detectar áreas de oportunidad.
    </p>
</div>
<hr />
<h4>Duracion: 6 a 7hrs</h4>
<hr />
<h2 style="color: cadetblue">Dirigido a:</h2>
<hr />
<p>
    Responsables de controlar el Sistema de Gestión dentro de la Organización
</p>
<hr />
<h4 style="color: cadetblue">Contenido Tematico</h4>
<hr />
<p>
    Sección 1 - Introducción a ISO 19011:2011
    <br />
    * Objetivo y campo de aplicación
    <br />
    * Términos y definiciones
    <br />
    * Importancia de las auditorias
    <br />
    Sección 2 - Estructura de ISO 19011:2011
    <br />
    * Enfoque
    <br />
    * Responsabilidades
    <br />
    Sección 3 – Técnicas de Auditoria
    <br />
    * Criterios de Auditoria
    <br />
    * Métodos de auditoras
    <br />
    Sección 4 - Equipo Auditor
    <br />
    * Tipo de auditores
    <br />
    * Actitud del auditor de apoyo Sección
    <br />
    5 – Proceso de auditorias
    <br />
    * Plan de auditoria
    <br />
    * Redacción de hallazgos
    <br />
    * Redacción de No conformidades
    <br />
    * Informe de Auditoria
    <br />
    * Evaluación de auditores
</p>