
@{
    ViewData["Title"] = "Cursos";
}

    <h1 class="text-center">
        REQUISITOS PARA MIGRACION ISO 45001:2018 de PHSAS 18001:2007
    </h1>
<hr />
<div class="jumbotron">
    <h1 class="display-3">OBJETIVO</h1>
    <hr class="my-2" />
    <p class="lead">
        Proporcionar los requisitos necesarios e identifican las actividades que deberán ser considerados por las partes interesadas pertinentes para lograr la migración de OHSAS 18001: 2007 a ISO 45001:2018 según el Foro Internacional de Acreditación (IAF) en cooperación con el Grupo de Proyecto OHSAS e ISO para asesorar a los interesados sobre las disposiciones de migración para ser considerado antes de la implementación de la norma ISO 45001.
    </p>
</div>
<hr />
<h4>Duracion: 5hrs</h4>
<hr />
<h2 style="color: cadetblue">Dirigido a:</h2>
<hr />
<p>
    
</p>
<hr />
<h4 style="color: cadetblue">Contenido Tematico</h4>
<hr />
<p>
    •Introducción
    <br />
    • Objetivos del curso, metas y estructura
    <br />
    • Anexo SL
    <br />
    • Analisis de la ISO 45001 (Perspectivas clave, principios, desarrollos emergentes, términos y definiciones)• Comparación entre OHSAS 18001:2007 e ISO
    45001
    <br />
    • Resumen de cambios clave
    <br />
    • Cronología ISO 45001 y más información
    <br />
    • Reflexión/repaso del curso y preguntas finales
</p>