
@{
    ViewData["Title"] = "MNE";
}

<h1 class="text-center">
    METODOLOGÍA DE UNA NEGOCIACIÓN EFECTIVA
</h1>
<hr />
<div class="jumbotron">
    <h1 class="display-3">OBJETIVO</h1>
    <hr class="my-2" />
    <p class="lead">
        Aprender y mejorar las competencias, técnicas y habilidades para ser un excelente negociador  concentrándose en obtener de forma racional soluciones beneficiosas para las partes al manejar adecuadamente objeciones y aplicar estrategias modernas de negociación en el cierre de ventas.
    </p>
</div>
<hr />
<h4>Duracion: 6hrs</h4>
<hr />
<h2 style="color: cadetblue">Dirigido a:</h2>
<hr />
<p>
    Gerentes comerciales, vendedores, comerciales, promotores,  jefes de ventas y personal interesado en adquirir técnicas y habilidades de negociación en el área de ventas.
</p>
<hr />
<h4 style="color: cadetblue">Contenido Tematico</h4>
<hr />
<p>
    1. Generalidades
    <br />
    2. Estudio del negociador
    <br />
    3. Correcta planeación de la negociación
    <br />
    4. Proceso de la negociación
    <br />
    5. Análisis del método de Harvard
    <br />
    6. Clínicas efectivas de negociación
    <br />
    7. Conclusiones
</p>