
@{
    ViewData["Title"] = "TEV";
}

<h1 class="text-center">
    TÉCNICAS Y ESTRATÉGIAS DE VENTAS
</h1>
<hr />
<div class="jumbotron">
    <h1 class="display-3">OBJETIVO</h1>
    <hr class="my-2" />
    <p class="lead">
        • Potenciar elementos y habilidades con el fin de optimizar la eficiencia de ventas.
        <br />
        • Conocer las técnicas de venta más adecuadas para cada tipo de cliente.
        <br />
        • Aprender las habilidades generales necesarias para conseguir una relación exitosa con el cliente.
        <br />
        • proveer al participante de las habilidades comunicativas y las técnicas de persuasión y negociación indispensables para un buen desarrollo del proceso de venta.
    </p>
</div>
<hr />
<h4>Duracion: 6hrs</h4>
<hr />
<h2 style="color: cadetblue">Dirigido a:</h2>
<hr />
<p>
    Gerentes comerciales, vendedores, comerciantes, promotores,  jefes de ventas y personal interesado en adquirir técnicas y habilidades en el área de ventas.
</p>
<hr />
<h4 style="color: cadetblue">Contenido Tematico</h4>
<hr />
<p>
    1. Las competencias del vendedor
    <br />
    2. Las necesidades de los consumidores
    <br />
    3. La actitud hacia las ventas
    <br />
    4. Las ventas frente a frente
    <br />
    5. El manejo de las objeciones
    <br />
    6. El cierre de ventas
</p>