
@{
    ViewData["Title"] = "VM";
}

<h1 class="text-center">
    VENTAS DE MOSTRADOR
</h1>
<hr />
<div class="jumbotron">
    <h1 class="display-3">OBJETIVO</h1>
    <hr class="my-2" />
    <p class="lead">
        * Desarrollar actitudes proactivas para el servicio al cliente y la venta en piso y/o mostrador.
        <br />
        * Adquirir las técnicas necesarias para realizar un proceso adecuado de ventas desde el recibimiento, el
        sondeo de necesidades, la propuesta del producto o servicio, el manejo de objeciones y el cierre de
        manera eficaz.
        <br />
        * Aprender y aplicar técnicas para el manejo adecuado de los clientes difíciles.
    </p>
</div>
<hr />
<h4>Duracion: 6hrs</h4>
<hr />
<h2 style="color: cadetblue">Dirigido a:</h2>
<hr />
<p>
    Gerentes comerciales, vendedores, comerciantes, promotores,  jefes de ventas, jefes de tienda, cajeros de un punto de venta que dan servicio al cliente y vendan en mostrador y/o piso y personal interesado en adquirir técnicas y habilidades en el área de ventas.
</p>
<hr />
<h4 style="color: cadetblue">Contenido Tematico</h4>
<hr />
<p>
    1. La inteligencia emocional del vendedor
    <br />
    2. La psicología del cliente
    <br />
    3. Interpretación del lenguaje corporal del cliente
    <br />
    4. Preparación adecuada de mercancías o productos para la venta
    <br />
    5. Atención eficiente del cliente durante el proceso de venta
    <br />
    6. Servicios complementarios
</p>