
@{
    ViewData["Title"] = "Quienes Somos";
}

    <div class="jumbotron">
        <h1 class="display-4">QUIENES SOMOS</h1>
        <p class="lead">
            REYSAL es una empresa dedicada a brindar Cursos y Talleres de Capacitacion y desarrollo para todo 
            profesionista y empresa que desee ser lider y marcar diferencia en su ámbito. Mas que vender un producto 
            ofrecemos Soluciones a tus necesidades de aprendizaje.
        </p>
    </div>