@{
    ViewData["Title"] = "Proximos Eventos";
}
<h1 class="text-center">Proximos Eventos</h1>
<hr />
<div class="card-group" style="border: solid">
    <div class="card" style="width: 18rem" style="border: solid">
        <div class="card-body">
            <h5 class="card-title">
                Fecha: Viernes 13 de Marzo
            </h5>
            <p class="card-text">
                Curso: Norma 035 Factores de Riesgo
            </p>
            <a class="btn btn-primary" asp-controller="Eventos" asp-action="EV13M">Ver Mas Informacion</a>
        </div>
    </div>
    <div class="card" style="width: 18rem" style="border: solid">
        <div class="card-body">
            <h5 class="card-title">
                Fecha: Sabado 28 de Marzo
            </h5>
            <p class="card-text">
                Curso: Taller: Marketing De Alto Impacto para Vender Más
            </p>
            <a class="btn btn-primary" asp-controller="EVENTOS" asp-action="ES28M">Ver Mas Informacion</a>
        </div>
    </div>
    <div class="card" style="width: 18rem" style="border: solid">
        <div class="card-body">
            <h5 class="card-title">
                Fecha: Martes 31 de Marzo
            </h5>
            <p class="card-text">
                Curso: Norma 019 Integramción Comite Seguridad E Higiene
            </p>
            <a class="btn btn-primary" asp-controller="Eventos" asp-action="EM31M">Ver Mas Informacion</a>
        </div>
    </div>
</div>
<div class="card-group" style="border: solid">
    <div class="card" style="width: 18rem" style="border: solid">
        <div class="card-body">
            <h5 class="card-title">
                Fecha: Viernes 3 y Sabado 4 de Abril
            </h5>
            <p class="card-text">
                Curso:Analisis de Probremas Buscando Causa Raiz
            </p>
            <a class="btn btn-primary" asp-controller="Eventos" asp-action="EV3S4A">Ver Mas Informacion</a>
        </div>
    </div>
    <div class="card" style="width: 18rem" style="border: solid">
        <div class="card-body">
            <h5 class="card-title">
                Fecha: Viernes 17 de Abril
            </h5>
            <p class="card-text">
                Curso: Requisitos para la Migracion a ISO 45001 2018 de ohsa 18001:2007
            </p>
            <a class="btn btn-primary" asp-controller="Eventos" asp-action="EV17A">Ver Mas Informacion</a>
        </div>
    </div>
    <div class="card" style="width: 18rem" style="border: solid">
        <div class="card-body">
            <h5 class="card-title">
                Fecha: Viernes 24 de Abril
            </h5>
            <p class="card-text">
                Curso: Taller: Prospeccion Terrencial como base para el èxito en las Ventas.
            </p>
            <a class="btn btn-primary" asp-controller="Eventos" asp-action="EV24A">Ver Mas Informacion</a>
        </div>
    </div>
</div>
<div class="card-group" style="border: solid">
    <div class="card" style="width: 18rem" style="border: solid">
        <div class="card-body">
            <h5 class="card-title">
                Fecha: Viernes 1 y Sabado 2 de Mayo
            </h5>
            <p class="card-text">
                Taller: Administración de Almacenes
            </p>
            <a class="btn btn-primary" asp-controller="Eventos" asp-action="EV1S2MAY">Ver Mas Informacion</a>
        </div>
    </div>
    <div class="card" style="width: 18rem" style="border: solid">
        <div class="card-body">
            <h5 class="card-title">
                Fecha: Viernes 15 y Sabado 16 de Mayo
            </h5>
            <p class="card-text">
                Curso: Análisis PMP
            </p>
            <a class="btn btn-primary" asp-controller="Eventos" asp-action="EV15S16MAY">Ver Mas Informacion</a>
        </div>
    </div>
    <div class="card" style="width: 18rem" style="border: solid">
        <div class="card-body">
            <h5 class="card-title">
                Fecha: Viernes 29 de Mayo
            </h5>
            <p class="card-text">
                Curso: Habilidades de Liderazgo
            </p>
            <a class="btn btn-primary" asp-controller="Eventos" asp-action="EV29MAY">Ver Mas Informacion</a>
        </div>
    </div>
    <div class="card" style="width: 18rem" style="border: solid">
        <div class="card-body">
            <h5 class="card-title">
                Fecha: 30 de Mayo
            </h5>
            <p class="card-text">
                Curso: ISO AITF 16949
            </p>
            <a class="btn btn-primary" asp-controller="Eventos" asp-action="ES30MAY">Ver Mas Informacion</a>
        </div>
    </div>
</div>