@{
    ViewData["Title"] = "REYSAL CAPACITACIONES";
}

<img src="~/img/images.jpeg" width="100%" height="300px" />
<div class="alert alert-danger text-center" role="alert">
    CURSOS CON VALIDEZ OFICIAL ANTE LA STPS
</div>
<div class="jumbotron">
    <h1 class="display-3 text-center"><b>MISION</b></h1>
    <hr class="my-2" />
    <p class="lead" style=" font-size: 20px">
        <b>
            Contar con una gama amplia de cursos de alto impacto que ayuden a las organizaciones a incrementar su productividad y eficiencia, así como el desarrollo
            profesional de las personas, generando un valor agregado en su nivel de conocimiento a través de nuestros cursos.
        </b>
    </p>
</div>
<hr />
<div class="jumbotron">
    <h1 class="display-3 text-center"><b>VISION</b></h1>
    <hr class="my-2" />
    <p class="lead" style=" font-size: 20px">
        <b>
            Ser la empresa Líder en el rubro de Capacitación Profesional, dando a nuestros clientes la confianza de encontrar en REYSAL una solución a sus necesidades de
            Capacitación y Desarrollo.
        </b>
    </p>
</div>