@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="card" style="border: solid">
    <div class="card-body">
        <h5 class="card-title"> Fecha </h5>
        <p class="card-text">
            Evento
        </p>
    </div>
</div>