
@{
    ViewData["Title"] = "ES28M";
}

<div class="jumbotron">
    <h1 class="display-3">Taller</h1>
    <hr class="my-2" />
    <p class="lead">
        MARKETING DE ALTO IMPACTO PARA VENDER MÁS
    </p>
</div>
<hr />
<h4>Duracion: 8 Hrs.</h4>
<hr />
<p>
    En este taller conocera un texto publicitario irresistible que pueda vender, tanto en medios tradicionales como medios digitales.
    <br />
    Aprenderán acerca de los colores de mayor impacto para atraer la atencion del cliente y facilitar el proceso de la venta.
    <br />
    Aprenderán a realizar pruebas pulicitarias para incrementar los porcentajes de conversión de prospectos a clientes, y esta les ayudurá a ahorrarse miles de pesos en publicidad fallida.
    <br />
    Conocerán los mejores medios de publicidad y como explotarlos al máximo para atraer a todos aquillos prospectos potenciales.
    <br />
    Les enseñaremos las últimas tendencias de creacion de compañias por medio de Whatsapp y e-mail marketing, a un bajo costo y con altos niveles de respuesta del publico.
</p>

