
@{
    ViewData["Title"] = "PTBEV";
}

<div class="jumbotron">
    <h1 class="display-3">Taller</h1>
    <hr class="my-2" />
    <p class="lead">
        PROSPECCIÓN TORRENCIAL COMO BASE PARA EL EXITO DE LAS VENTAS
    </p>
</div>
<hr />
<h4>Duracion: 6 Hrs.</h4>
<hr />
<p>
    En este taller su equipo aprendera las mejores tecnicas para obtener un torrente de prospectos a quienes vender su producto o servicio.
    <br />
    Comprenderán qué es lo que hay en la mente del comprador y cómo utilizar este conocimiento a su favor para controlar totalmente la venta.
    <br />
    Cómo pueden presentar sus productos o servicios a sus clientes potenciales de tal manera que estén deseosos de comprar.
    <br />
    Comprenderán las bases del marketing y como apalancarse de ñel para incrementar sus ingresos exponencialmente.
    <br />
    Conocerán las mejores estrategias, medios y podrán crear un plan de marketing funcional que producirá millones de pesos en ventas.
</p>

