
@{
    ViewData["Title"] = "Administracion";
}

<h1>Administraciòn</h1>
<hr />
<div class="card-group">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Auditoría Administrativa en Empresas</h5>
            <a class="btn btn-block btn-outline-info" asp-controller="ADMIN" asp-action="AAE">Ver Temas del Curso</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Contabilidad para No Contadores</h5>
            <a class="btn btn-block btn-outline-info" asp-controller="ADMIN" asp-action="AAI">Ver Temas del Curso</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Auditoria Interna</h5>
            <a class="btn btn-block btn-outline-info" asp-controller="ADMIN" asp-action="AI">Ver Temas del Curso</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Administración de Almacenes e Inventarios</h5>
            <a class="btn btn-block btn-outline-info" asp-controller="ADMIN" asp-action="CNC">Ver Temas del Curso</a>
        </div>
    </div>
</div>