
@{
    ViewData["Title"] = "CNISO";
}


    <h1>Calidad y Normas ISO</h1>
<hr />
<div class="card-group">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Requisitos para Migración ISO 45001:2018 a 18001:2007</h5>
            <a class="btn btn-block btn-outline-info" asp-controller="CN" asp-action="RMISO">Ver Temas del Curso</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Ergonomía Avanzada</h5>
            <a class="btn btn-block btn-outline-info" asp-controller="CN" asp-action="EA">Ver Temas del Curso</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Análisis de Problemas Buscando Causa Raíz, Metodologías para Solución de Problemas y Toma de Decisiones.</h5>
            <a class="btn btn-block btn-outline-info" asp-controller="CN" asp-action="APBCRMSPTD">Ver Temas del Curso</a>
        </div>
    </div>
</div>
<div class="card-group">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">ISO 9001:2015</h5>
            <a class="btn btn-block btn-outline-info" asp-controller="CN" asp-action="ISO9">Ver Temas del Curso</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Norma ISO 19011:2011 Auditoria  de los Sistemas de Gestión</h5>
            <a class="btn btn-block btn-outline-info" asp-controller="CN" asp-action="NIASG">Ver Temas del Curso</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Metodología Seis Sigma</h5>
            <a class="btn btn-block btn-outline-info" asp-controller="CN" asp-action="MSS">Ver Temas del Curso</a>
        </div>
    </div>
</div>
<div class="card-group">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Lean Manufacturing</h5>
            <a class="btn btn-block btn-outline-info" asp-controller="CN" asp-action="LM">Ver Temas del Curso</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Norma ISO TS 16949  Automotriz</h5>
            <a class="btn btn-block btn-outline-info" asp-controller="CN" asp-action="NIA">Ver Temas del Curso</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Operación Segura de Montacargas</h5>
            <a class="btn btn-block btn-outline-info" asp-controller="CN" asp-action="OSM">Ver Temas del Curso</a>
        </div>
    </div>
</div>
<div class="card-group">
    <div class="card">
       <div class="card-body">
           <h5 class="card-title">
               NOM-019-STPS-2011, Constitución, integración, organización y funcionamiento de las comisiones de seguridad e higiene.
           </h5>
           <a class="btn btn-block btn-outline-info" asp-controller="CN" asp-action="CIOFCSH">Ver Temas del Curso</a>
       </div>
    </div>
</div>