
@{
    ViewData["Title"] = "CV";
}

<h1>COMERCIAL Y VENTAS</h1>
<hr />
<div class="card-group">
    <div class="card" style="border: solid">
        <div class="card-body">
            <h5 class="card-title">Técnica y Estratégias de Ventas</h5>
            <a class="btn btn-block btn-outline-info" asp-controller="CV" asp-action="TEV">Ver Temas del Curso</a>
        </div>
    </div>
    <div class="card" style="border: solid">
        <div class="card-body">
            <h5 class="card-title">Estratégias del Vendedor Líder</h5>
            <a class="btn btn-block btn-outline-info" asp-controller="CV" asp-action="EVL">Ver Temas del Curso</a>
        </div>
    </div>
    <div class="card" style="border: solid">
        <div class="card-body">
            <h5 class="card-title">Metodología de una Negociación Efectiva</h5>
            <a class="btn btn-block btn-outline-info" asp-controller="CV" asp-action="MNE">Ver Temas del Curso</a>
        </div>
    </div>
    <div class="card" style="border: solid">
        <div class="card-body">
            <h5 class="card-title">Ventas de Mostrador</h5>
            <a class="btn btn-block btn-outline-info" asp-controller="CV" asp-action="VM">Ver Temas del Curso</a>
        </div>
    </div>
</div>
</div>
