
@{
    ViewData["Title"] = "DHG";
}

<h1>DESARROLLO HUMANO Y GERENCIAL</h1>
<hr />
<div class="card-group">
    <div class="card" style="border: solid">
        <div class="card-body">
            <h5 class="card-title">Inteligencia Emocional para la productividad y el Equilibrio</h5>
            <a class="btn btn-block btn-outline-info" asp-controller="DHG" asp-action="IEPE">Ver Temas del Curso</a>
        </div>
    </div>
    <div class="card" style="border: solid">
        <div class="card-body">
            <h5 class="card-title">Desarrollo del Liderazgo Efectivo</h5>
            <a class="btn btn-block btn-outline-info" asp-controller="DHG" asp-action="DLE">Ver Temas del Curso</a>
        </div>
    </div>
    <div class="card" style="border: solid">
        <div class="card-body">
            <h5 class="card-title">Trabajo en Equipo y Comunicación Asertiva</h5>
            <a class="btn btn-block btn-outline-info" asp-controller="DHG" asp-action="TECA">Ver Temas del Curso</a>
        </div>
    </div>
    <div class="card" style="border: solid">
        <div class="card-body">
            <h5 class="card-title">Negociación y Manejo de Conflictos</h5>
            <a class="btn btn-block btn-outline-info" asp-controller="DHG" asp-action="NMC">Ver Temas del Curso</a>
        </div>
    </div>
    <div class="card" style="border: solid">
        <div class="card-body">
            <h5 class="card-title">Desarrollo de Habilidades Gerenciales</h5>
            <a class="btn btn-block btn-outline-info" asp-controller="DHG" asp-action="DHG">Ver Temas del Curso</a>
        </div>
    </div>
    <div class="card" style="border: solid">
        <div class="card-body">
            <h5 class="card-title">Los 7 Hábitos de la Gente Altamente Efectiva</h5>
            <a class="btn btn-block btn-outline-info" asp-controller="DHG" asp-action="HGAE">Ver Temas del Curso</a>
        </div>
    </div>
</div>