@{
    ViewData["Title"] = "RH";
}
<h1>RECURSOS HUMANOS</h1>
<hr />
<div class="card-group">
    <div class="card" style="border: solid">
        <div class="card-body">
            <h5 class="card-title">Administración de Nominas, IMSS e Infonavit</h5>
            <a class="btn btn-block btn-outline-info" asp-controller="RH" asp-action="ANII">Ver Temas del Curso</a>
        </div>
    </div>
    <hr />
    <div class="card" style="border: solid">
        <div class="card-body">
            <h5 class="card-title">Como Evitar Fugas de Talento y Rotación de Personal</h5>
            <a class="btn btn-block btn-outline-info" asp-controller="RH" asp-action="CEFTRP">Ver Temas del Curso</a>
        </div>
    </div>
    <div class="card" style="border: solid">
        <div class="card-body">
            <h5 class="card-title">Formación de Instructores</h5>
            <a class="btn btn-block btn-outline-info" asp-controller="RH" asp-action="FI">Ver Temas del Curso</a>
        </div>
    </div>
    <div class="card" style="border: solid">
        <div class="card-body">
            <h5 class="card-title">Norma 035 Factores</h5>
            <a class="btn btn-block btn-outline-info" asp-controller="RH" asp-action="NF">Ver Temas del Curso</a>
        </div>
    </div>
</div>
