
@{
    ViewData["Title"] = "TALLERES";
}

<h1>TALLERES</h1>
<hr />
<div class="card-group">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">MARKETING DE ALTO IMPACTO PARA VENDER MÁS</h5>
            <a class="btn btn-block btn-outline-info" asp-controller="TALLERES" asp-action="MAIVM">Ver Temas del Curso</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">PROSPECCIÓN TORRENCIAL COMO BASE PARA EL EXITO DE LAS VENTAS</h5>
            <a class="btn btn-block btn-outline-info" asp-controller="TALLERES" asp-action="PTBEV">Ver Temas del Curso</a>
        </div>
    </div>
</div>