
@{
    ViewData["Title"] = "AAE";
}
<h1 class="text-center">
    AUDITORIA ADMINISTRATIVA EN EMPRESAS
</h1>
<hr />
<div class="jumbotron">
    <h1 class="display-3">OBJETIVO</h1>
    <hr class="my-2" />
    <p class="lead">
        Al término del curso el participante se encontrará en condiciones de identificar la labor del auditor en las organizaciones. Asimismo, podrá examinar y evaluar las actividades administrativas en la organización, estableciendo recomendaciones a la dirección de la misma de acuerdo a los hallazgos encontrados.
    </p>
</div>
<hr />
<h4>Duracion: 12hrs</h4>
<hr />
<h2 style="color: cadetblue">Dirigido a:</h2>
<hr />
<p>
    Empresarios, Directores, Gerentes Administrativos, Auditores Internos y personal interesado en conocer los procesos de las auditorías administrativas en las empresas.
</p>
<hr />
<h4 style="color: cadetblue">Contenido Tematico</h4>
<hr />
<p>
    1. La función de la auditoría en las empresas
    <br />
    2. Tipos de auditorías
    <br />
    3. Estructura de un departamento de auditoría
    <br />
    4. El proceso administrativo
    <br />
    5. La auditoría operacional
    <br />
    6. Metodología de la auditoría
    <br />
    7. Control de hallazgos
    <br />
    8. Informe y seguimiento
</p>