
@{
    ViewData["Title"] = "AAI";
}
    <h1 class="text-center">
        CONTABILIDAD PARA NO CONTADORES
    </h1>
<hr />
<div class="jumbotron">
    <h1 class="display-3">OBJETIVO</h1>
    <hr class="my-2" />
    <p class="lead">
        Conocer la estructura de la contabilidad de la empresa, para emplear su información en los análisis de ingresos y gastos, además de la comprensión de los estados de resultados para la toma de decisiones, aplicando los ratios más comunes y normas esenciales de valuación.
    </p>
</div>
<hr />
<h4>Duracion: 6hrs</h4>
<hr />
<h2 style="color: cadetblue">Dirigido a:</h2>
<hr />
<p>
    Cualquier persona interesada en aprender los conceptos básicos de contabilidad para aplicarlos en su hogar, negocio o espacio de trabajo.
</p>
<hr />
<h4 style="color: cadetblue">Contenido Tematico</h4>
<hr />
<p>
    1. Fundamentos de contabilidad
    <br />
    2. Balance general
    <br />
    3. Estado de resultados
    <br />
    4. Estados de cambio de en el capital contable
    <br />
    5. Estados de flujo de efectivo
    <br />
    6. Normas esenciales de valuación
    <br />
    7. Ejercicio de aplicación
</p>