
@{
    ViewData["Title"] = "AI";
}

<h1 class="text-center">
    AUDITOR INTERNO
</h1>
<hr />
<div class="jumbotron">
    <h1 class="display-3">OBJETIVO</h1>
    <hr class="my-2" />
    <p class="lead">
        Generar en los participantes el conocimiento, interpretación y aplicación en cuestión de auditorías internas de la norma ISO 9001:2015, además de proporcionar las herramientas necesarias en cuanto a la planeación y desarrollo de las Auditorías Internas realizadas en la organización bajo los criterios de la norma ISO 19011:2018
    </p>
</div>
<hr />
<h4>Duracion: 20hrs</h4>
<hr />
<h2 style="color: cadetblue">Dirigido a:</h2>
<hr />
<p>

</p>
<hr />
<h4 style="color: cadetblue">Contenido Tematico</h4>
<hr />
<p>
    1.  Términos y definiciones relacionadas con Sistemas de Gestión de Calidad
    <br />
    2.  Orígenes de los Sistemas de Gestión de Calidad
    <br />
    3.  Auditorias del Sistema de Gestión de Calidad
    <br />
    4.  Conocimiento e Interpretación de la norma ISO 19011:2018
    <br />
    5.  Tipos de Auditorias
    <br />
    6.  El Rol del Auditor
    <br />
    7.  Competencia de los Auditores del Sistema de Gestión de Calidad con un enfoque de procesos
    <br />
    8.  Interpretación de los requerimientos de la norma ISO 9001:2015
    <br />
    9.  Interacción y mapeo de procesos
    <br />
    10. Casos prácticos de auditoria a Sistemas de Gestión de Calidad
    <br />
    11. Evaluación de la formación
</p>