
@{
    ViewData["Title"] = "CNC";
}
    <h1 class="text-center">
        ADMINISTRACION DE ALMACENES E INVENTARIOS
    </h1>
<hr />
    <div class="jumbotron">
    <h1 class="display-3">OBJETIVO</h1>
    <hr class="my-2" />
    <p class="lead">
        Proporcionar conceptos, bases, herramientas y técnicas que permitan a los participantes administrar los almacenes e inventarios de manera adecuada evitando pérdidas y falta de productividad.
    </p>
</div>
<hr />
<h4>Duracion: 6hrs</h4>
<hr />
<h2 style="color: cadetblue">Dirigido a:</h2>
<hr />
<p>
    Directores, gerentes, encargados de la organización del almacén y control de inventarios en su empresa y personal en general que desee conocer las distintas formas de resguardar, custodiar, controlar y abastecer los materiales y productos del almacén.
</p>
<hr />
<h4 style="color: cadetblue">Contenido Tematico</h4>
<hr />
<p>
    1. Objetivos y funciones dentro del almacén
    <br />
    2. Tipos de almacenes
    <br />
    3. Principales áreas del almacén
    <br />
    4. Estructura física del almacén y distribución del inventario
    <br />
    5. Técnicas y sistemas de gestión de inventarios
    <br />
    6. Problemáticas más comunes en el manejo de inventarios
    <br />
    7. Métricos para una operación efectiva en la gestión de los almacenes e inventarios
    <br />
    8. Caso práctico
</p>>
